<ion-view class="social-login">
  <ion-content class="bg-color padding">
    <h3 class="light text-center">Social Sign Up</h3>
    <div class="row">
        <div class="col text-center">
            <button class="button socialLoginButtons social-button-facebook" ng-click="fbLogin()">Facebook</button>
            <button class="margin-top button socialLoginButtons social-button-google" ng-click="gLogin()">Google</button>
            <h3 class="light text-center">Password Sign Up</h3>
            <button class="button signin-btn button-calm socialLoginButtons" style="background-color: #13A0DB !important;" ui-sref="registrationSelection">Register</button>
        </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="button signin-btn button-calm" ui-sref="signin"
                style="background-color: #ffffff !important; color:#13A0DB;min-height: 40px;">Back
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
