<ion-view>
  <ion-content class="bg-color">
    <div class="col text-center paddingHeader">
      <h3 class="infoTitle">Which best describes you?</h3>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="button signin-btn button-calm" ng-click="goToSignup()"
                style="background-color: #13A0DB !important;">PARENT
        </button>
      </div>
    </div>
    <div class="row" style="margin-top: 16px;">
      <div class="col text-center">
        <button class="button signin-btn button-calm" ng-click="goToSchoolRegister()"
                style="background-color: #13A0DB !important;">SCHOOL
        </button>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer" style="background-color: transparent;height: 64px;background-image: none">
    <div class="row">
      <div class="col text-center">
        <button class="button signin-btn button-calm" ui-sref="signin"
                style="background-color: #ffffff !important; color:#13A0DB;min-height: 40px;">Back
        </button>
      </div>
    </div>
  </div>
</ion-view>
