<ul class="list">
    <li class="item item-toggle">
        Bath
        <label class="toggle toggle-balanced">
            <input type="checkbox" ng-model="hygiene.bathStatus">

            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    <li class="item item-toggle">
        Small Potty
        <label class="toggle toggle-balanced">
            <input type="checkbox" ng-model="hygiene.smallPotty">

            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    <li class="item item-toggle">
        Big Potty
        <label class="toggle toggle-balanced">
            <input type="checkbox" ng-model="hygiene.bigPotty">

            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
</ul>
