<ion-content class="bar-subheader-custm">
    <div class="list padding-horizontal padding-top">
        <label class="item item-input item-select pb-20">
            <div class="input-label">
              Language
            </div>
            <select ng-model="settings.language" ng-change="save()">
                <option value="English">English</option>
            </select>
          </label>
        <label class="item item-input item-select pb-20">
            <div class="input-label">
              Notifications
            </div>
            <select ng-model="settings.notifications" ng-change="save()">
                <option value="true">Activated</option>
                <option value="false">Deactivated</option>
            </select>
        </label>
    </div>
</ion-content>